<!DOCTYPE html>
<html>

<head>
    <title>Screenshotbot Test Project</title>
    <meta name="author" content="S.Thuvarahan">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        @media not all and (min-resolution:.001dpcm)
        { @supports (-webkit-appearance:none) and (stroke-color:transparent) {
            .card {
                border: 5px solid rgb(241, 0, 52);
            }
            .card-title {
                border-radius: 10px;
                background-color: rgb(174, 169, 86);
                padding: 10px;
            }
        }}
        .card {
            -webkit-text-fill-color: rgb(19, 163, 0);
        }
        .card-title {
            -moz-margin-end: 200px;
        }
        @-moz-document url-prefix() {
            .container {
                padding: 50px;
            }
        }
    </style>
    <!-- jQuery -->
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="container mt-3" style="margin-bottom: 60px;">
        <br/>
        <br/>
        <div class="mb-3" style="background-color: rgb(158, 176, 255); padding: 15px 25px; border-radius: 8px; text-align: center;">
            <h1 style="font-weight: bold;">Lorem Ipsum</h1>
        </div>
        <div class="mb-3" style="background-color: rgb(255, 200, 200); padding: 15px 25px; border-radius: 8px; text-align: justify;">
            <h5>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </h5>
        </div>
        <div class="mb-3" style="background-color: rgb(208, 208, 208); padding: 15px 25px; border-radius: 8px;">
            <h3 style="font-weight: bold;">What is Lorem Ipsum?</h3>
        </div>
        <div class="row">
            <div class="col-md-4 mb-2">
                <div class="card bg-primary mb-2 p-2 text-dark bg-opacity-25" style="background-color: rgb(232, 201, 248) !important;">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title"><b>Option A</b></h5>
                        </center>
                        <br/>
                        <table style="width:100%;">
                            <tr style="vertical-align:top; height: 50px !important;">
                                <td style="width: 225px;">Details of Label 1 :</td>
                                <td><b><%=card1.data1%></b></td>
                            </tr>
                            <tr style="vertical-align:top; height: 50px !important;">
                                <td style="width: 225px;">Details of Label 2 :</td>
                                <td><b><%=card1.data2%></b></td>
                            </tr>
                            <tr style="vertical-align:top; height: 50px !important;">
                                <td style="width: 225px;">Details of Label 3 :</td>
                                <td><b><%=card1.data3%></b></td>
                            </tr>
                        </table>
                        <!-- <br/>
                        <form action="/" method="POST">
                            <input type="hidden" name="scenario" value="<%=scenario%>">
                            <input type="hidden" name="info" value="<%=info%>">
                            <input type="hidden" name="choices" value="<%=choices%>1,">
                            <button class="btn btn-primary" type="submit" style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Select</button>
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card bg-primary p-2 text-dark bg-opacity-25" style="background-color: rgb(232, 201, 248) !important;">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title"><b>Option B</b></h5>
                        </center>
                        <br/>
                        <table style="width:100%;">
                            <tr style="vertical-align:top; height: 50px !important;">
                                <td style="width: 225px;">Details of Label 1 :</td>
                                <td><b><%=card2.data1%></b></td>
                            </tr>
                            <tr style="vertical-align:top; height: 50px !important;">
                                <td style="width: 225px;">Details of Label 2 :</td>
                                <td><b><%=card2.data2%></b></td>
                            </tr>
                            <tr style="vertical-align:top; height: 50px !important;">
                                <td style="width: 225px;">Details of Label 3 :</td>
                                <td><b><%=card2.data3%></b></td>
                            </tr>
                        </table>
                        <!-- <br/>
                        <form action="/" method="POST">
                            <input type="hidden" name="scenario" value="<%=scenario%>">
                            <input type="hidden" name="info" value="<%=info%>">
                            <input type="hidden" name="choices" value="<%=choices%>2,">
                            <button class="btn btn-primary" type="submit" style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Select</button>
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card bg-primary p-2 text-dark bg-opacity-25" style="background-color: rgb(232, 201, 248) !important;">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title"><b>Option C</b></h5>
                        </center>
                        <br/>
                        <table style="width:100%">
                            <span style="vertical-align:top; height: 50px !important; text-align: center;">
                                <h5 style="height: 242px;"><b><%=card3.content%></b></h5>
                            </span>
                        </table>
                        <!-- <br/>
                        <form action="/" method="POST">
                            <input type="hidden" name="scenario" value="<%=scenario%>">
                            <input type="hidden" name="info" value="<%=info%>">
                            <input type="hidden" name="choices" value="<%=choices%>2,">
                            <button class="btn btn-primary" type="submit" style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Select</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgb(208, 208, 208); margin: 0px; border-radius: 8px; border: 5px solid gray;">
            <div class="col-md-6 mt-2 mb-2" style="display: block; margin: auto;">
                <div class="mt-3 mb-3" style="background-color: rgb(251, 251, 251); padding: 15px 25px; border-radius: 8px; border: 5px solid rgb(200, 200, 200);">
                    <form id="myForm" action="/finish" method="GET">
                        <input type="hidden" name="scenario" value="<%=scenario%>">
                        <input type="hidden" name="info" value="<%=info%>">
                        <input type="hidden" name="choices" data-value="<%=choices%>" value="<%=choices%>" id="choices">
                        <div class="mt-3 mb-5">
                            <label class="col-md-6" for="choice1" style="font-weight: bold; font-size: large;">Selection 1 :</label>
                            <select class="col-md-5" name="choice1" id="choice1" style="border-radius: 5px; border: 2px solid blueviolet; background-color: rgb(255, 209, 255); padding: 5px;" required>
                                <option value="1">Option A</option>
                                <option value="2">Option B</option>
                                <option value="3">Option C</option>
                            </select>
                        </div>
                        <!-- <div class="mt-4 mb-5">
                            <label class="col-md-6" for="choice2" style="font-weight: bold; font-size: large;">Selection 2 :</label>
                            <select class="col-md-5" name="choice2" id="choice2" style="border-radius: 5px; border: 2px solid blueviolet; background-color: rgb(255, 209, 255); padding: 5px;" required>
                                <option value="1">Card A</option>
                                <option value="2">Card B</option>
                                <option value="3">Card C</option>
                            </select>
                        </div> -->
                        <button id="submitBtn" class="btn btn-primary" type="submit" style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>